.profile{
    width: 100px;
    height: 120px;
    /* border: solid 2px black;  */
    margin: 10px;
    border-radius: 8px;
}

.profile-image{
    height: 80%;
    width: 100%;
    border-radius:10px;
    
}

.profileName{
    text-align: center;
    color : black;
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
}

