.carouselConatiner{
    height:fit-content;
    width:100%;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    /* margin: 5px; */
    /* border: solid 2px white; */
}

.swiperImg{
    height: 100%;
    width: 100%;
    margin: 0px;
    border-radius: 10px;
}

.swiperMainContainer{
    /* border: solid 2px rgb(172, 119, 119); */
    height:180px;
    width: 100%;
}

.swiperImgContainer{
    /* border: solid 2px white; */
    width: 250px;
    height: 100%;
    border-radius: 10px;
    /* margin: 5px; */
}